.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin: auto;
    margin-top: 20vh;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 50vw;
    padding: 5em;
}
.reviewForm{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.reviewForm input{
    width: 15rem;
    height: 2.3rem;
    padding: 0.7em;

}
.reviewForm div{
    display: flex;
    gap: 5vh;
}
.reviewForm button{
margin-top: 20px;
width: 100px;
    height: 1.5rem;
    background:transparent;
    border-radius: 30px;
    border: 2px solid black;
    padding: 3px;
    align-self: center;
}
.reviewForm button:hover{
    transform: scale(1.05);
   }