.containerP {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  width: 26vw;
  padding: 3vw;
  border-radius: 30px;

}

.containerP:hover {
  transform: scale(1.04);

}

.pr_no {
  color: var(--Primary, #0b254b);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.pr_head {
  color: var(--Primary, #0b254b);

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  /* 141.667% */
  text-transform: capitalize;
}

.pr_des {
  color: var(--Secondary, #7a7a7a);
  /* font-family: Poppins; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  /* 200% */
  text-transform: capitalize;
}